<form>



<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <img style="margin-left: 175px;" src="assets/logo.png" width="150px" height="150px" alt="">
        <h1 class="text-center">
            Login
        </h1>
        <div class="form-group">
            <label for="Mobile Number">Mobile Number</label>
            <input type="number" class="form-control" name="" id="">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" name="" id="">
        </div>
        <div>
        <button class="form-control btn-primary">
            Login
        </button>
            
        </div>
    </div>
    <div class="col-lg-4"></div>
</div> 




    
</form>