<h1 class="text-center">
    My Cart
</h1>

<table class="table table-hover table-bordered">
    <tr>
        <th>Sr No.</th>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Product  Price</th>
        <th>Quantity</th>
        <th>Final Amount</th>
        <th>
            Remove
        </th>
    </tr>
    <tr>
        <td>1</td>
        <td>iPhone</td>
        <td>
            <img width="150px" height="150px" src="assets/iphone.jpg" alt="">
        </td>
        <td>50,000/-</td>
        <td>2</td>
        <td>1,00,000/-</td>
        <td>
            <button class="btn btn-danger text-white">
                X
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>iPhone</td>
        <td>
            <img width="150px" height="150px" src="assets/iphone.jpg" alt="">
        </td>
        <td>50,000/-</td>
        <td>2</td>
        <td>1,00,000/-</td>
        <td>
            <button class="btn btn-danger text-white">
                X
            </button>
        </td>
    </tr>
</table>
